extends layout

block content
  .box.box-widget
    .box-header.with-border
      .user-block
        img.img-circle(src=post.author.dpURL, alt='Post Image')
        span.username
          a(href='#') #{post.author.name}
        span.description
          | #{post.date.toLocaleString('en-US', {hour:'numeric', minute:'numeric', hour12:true})}
          | on #{post.date.toLocaleString('en-US', {year: 'numeric', month: 'short', day: 'numeric' })}
          br
          | Audience: #{post.audience}
      // /.user-block
    // /.box-header
    .box-body
      if post.title
        span(style='text-align: center; font-size: 22px; font-weight: 600;') #{post.title}
      if postImg
        img.img-responsive.pad(src=postImg, alt=null)
      .post-body
        | #{post.body}
      button.btn.btn-default.btn-xs(type='button')
        i.fa.fa-thumbs-o-up
        |  Like
      span.pull-right.text-muted
        | 127 likes   3 comments
    // /.box-body
    if comments
      .box-footer.box-comments
        each comment, i in comments
          .box-comment
            // User image
            img.img-circle.img-sm(src=comment.dpURL)
            .comment-text
              span.username
                | comment.author
                span.text-muted.pull-right 8:03 PM Today
              // /.username
              | #{comment.body}
            // /.comment-text
          // /.box-comment
    .box-footer
      form(action='/posts', method='post')
        img.img-responsive.img-circle.img-sm(src=dpURL, alt=username)
        // .img-push can be used to add margin to elements next to floating images
        .img-push
          input.form-control.input-sm(type='text', placeholder='Press enter to post comment')
